/* COMMON STYLES*/

:root {
  /* MAIN FONTS*/
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  /* TEXT COLOR*/
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --modal-form-text: #8e8f99;

  /* BACKGROUND COLOR*/
  --primary-background-color: #fff;
  --modal-background-color: #fcfcfc;
  --grey-background-color: #f4f4fd;
  --dark-background-color: #2e2f42;
  --btm-border: #e7e9fc;
  --hover-color: #404bbf;
  --social-icon: #afb1b8;
  --social-links-hover: #31d0aa;
  --burger-btn: #2f2f37;
}

body {
  font-family: var(--main-font-family);
  font-size: 16px;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
button {
  font: inherit;
}

.link {
  text-decoration: none;
}

::before,
::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

/* HEADER STYLES*/

.header {
  border-bottom: 1px solid var(--btm-border);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-item {
    display: none;
  }
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-secondary {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--title-text-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--dark-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.nav-link.active::after {
  background-color: var(--hover-color);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  margin-right: auto;
  margin-left: auto;
}

.nav-link.active {
  color: var(--hover-color);
}
.header-wrapper {
  font-style: normal;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .auth-list {
    display: flex;
    padding: 24px 0;
    gap: 40px;
  }
}

@media screen and (max-width: 1157px) {
  .auth-item:first-child {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .auth-contact {
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .auth-contact {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
  }
}

.auth-contact:hover,
.auth-contact:focus {
  color: var(--hover-color);
}

/* HERO*/

.hero {
  background-color: var(--dark-background-color);
}

@media screen and (min-width: 320px) {
  .hero {
    padding: 72px 0;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

.background-image {
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-mobile-1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-mobile-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .background-image {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet-1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-tablet-2x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .background-image {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-desktop-1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-desktop-2x.jpg");
    }
  }
}

.hero-title {
  max-width: 169px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-background-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px auto;
    text-transform: none;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px auto;
  }
}

.hero-button {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* FEATURES*/

@media screen and (max-width: 1157px) {
  .features {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}

@media screen and (max-width: 767px) {
  .feature-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .feature-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  background-color: var(--grey-background-color);
  margin-bottom: 8px;
}

@media screen and (max-width: 1157px) {
  .feature-icon {
    display: none;
  }
}

.feature-title {
  color: var(--dark-background-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .feature-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.feature-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}

/* TEAM */

.team {
  background-color: var(--grey-background-color);
}

@media screen and (max-width: 1157px) {
  .team {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-item {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100%-24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100%-72px) / 4);
  }
}

.team-content {
  padding: 32px 0;
}

.team-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-list {
  width: 40px;
  height: 40px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--hover-color);
}

.social-icon {
  fill: var(--grey-background-color);
}

/* PORTFOLIO*/

@media screen and (max-width: 1157px) {
  .portfolio {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-link {
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-overley-text,
.portfolio-link:focus .portfolio-overley-text {
  transform: translateY(0);
}

.portfolio-overley-wrapper {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .portfolio-overley-wrapper {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-overley-wrapper {
    width: 360px;
  }
}

.portfolio-overley-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--accent-color);
  color: var(--grey-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper {
  border: 1px solid var(--btm-border);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-heading {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 1.5;
}

/* FOOTER*/

.footer {
  background-color: var(--dark-background-color);
}

@media screen and (max-width: 1157px) {
  .footer {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    width: 552px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    text-align: start;
  }
}

.footer-logo-wrapper {
  width: 288px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-logo-wrapper {
    margin: 0 24px 0 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo-wrapper {
    margin-right: 120px;
  }
}

.logo-footer-blue {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer {
  color: var(--grey-background-color);
}

.footer-text {
  color: var(--grey-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
  text-align: left;
}

.footer-icon-wrapper {
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .footer-icon-wrapper {
    margin-top: 0;
  }
}

.footer-icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-background-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-icon-text {
    margin-top: 0;
  }
}

.footer-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-svg {
  fill: var(--grey-background-color);
}

.footer-icon-svg:hover,
.footer-icon-svg:focus {
  background-color: var(--social-links-hover);
}

@media screen and (max-width: 767px) {
  .footer-subscribe-wrapper {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .footer-subscribe-wrapper {
    margin-top: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscribe-wrapper {
    margin-top: 0;
    margin-left: 80px;
  }
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-background-color);
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.footer-subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-background-color);
  background-color: transparent;
  width: 100%;
  min-height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--primary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-input {
    width: 264px;
  }
}

.footer-subscribe-input::placeholder {
  color: var(--primary-background-color);
}

.footer-subscribe-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--hover-color);
}

.footer-subscribe-icon {
  fill: var(--primary-background-color);
  margin-left: 16px;
}

/* MOBILE MENU*/

@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }
}

.mobile-open-btn {
  padding: 24px 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.mobile-open-btn-icon {
  fill: var(--burger-btn);
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  z-index: 999999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container.is-open {
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    max-width: 428px;
  }
}

.mobile-menu-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px 16px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  border: none;
  background-color: var(--btm-border);
  fill: var(--dark-background-color);
}

.mobile-menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-background-color);
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--hover-color);
}

.mobile-nav-link.active {
  color: var(--hover-color);
}

.mobile-header-wrapper {
  margin-top: auto;
  margin-bottom: 48px;
}

.mobile-auth-item:last-child {
  margin-top: 24px;
}

.mobile-auth-contact-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-auth-contact-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu-social-list {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-icon {
  fill: var(--grey-background-color);
}

.mobile-menu-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:focus {
  background-color: var(--hover-color);
}

@media screen and (max-width: 319px) {
  .mobile-menu-social-list {
    gap: calc((100% - 160px) / 4);
  }
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* MODAL WINDOW */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--modal-background-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .modal {
    max-width: 288px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--hover-color);
  border: none;
  fill: var(--primary-background-color);
}

.modal-close-btn-icon {
  fill: var(--dark-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--primary-background-color);
}

.review-form-description {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-form-text);
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus {
  border-color: var(--accent-color);
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-field:focus + .review-form-field-icon {
  fill: var(--accent-color);
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--dark-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-textarea-wrapper {
  margin-bottom: 16px;
}

.review-form-message {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message:focus {
  border-color: var(--accent-color);
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-message::placeholder {
  color: var(--dark-background-color) rgba(46, 47, 66, 0.4);
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-form-text);
}

.privacy-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link:hover,
.privacy-policy-link:focus {
  color: var(--hover-color);
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: var(--hover-color);
  fill: var(--grey-background-color);
  border: none;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: var(--primary-background-color);
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-btn:hover,
.review-form-btn:focus {
  background-color: var(--hover-color);
}
